name: Create Release

on:
  workflow_call:
    inputs:
      title-prefix:
        description: Prefix for the release title
        default: ''
        required: false
        type: string
      use-submodules:
        description: Whether to use submodules
        default: false
        required: false
        type: boolean

permissions:
  contents: read

jobs:
  release:

    runs-on: ubuntu-latest

    timeout-minutes: 30

    permissions:
      contents: write

    defaults:
      run:
        shell: bash

    steps:
    - name: Setup Git Global Config
      uses: 9506hqwy/actions/common/setup-git-config@main

    - name: Checkout Source Code
      uses: actions/checkout@v6
      with:
        submodules: ${{ inputs.use-submodules }}

    - uses: actions/download-artifact@v6
      with:
        path: artifacts

    - name: Create Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TITLE_PREFIX: ${{ inputs.title-prefix }}
      run: |
        find ./artifacts -type f
        gh config set prompt disabled
        gh release create "${GITHUB_REF_NAME}" './artifacts/*' -t "${TITLE_PREFIX}${GITHUB_REF_NAME}" -d
