name: Go Release Ubuntu

on:
  workflow_call:
    inputs:
      use-submodules:
        description: Whether to use submodules
        default: false
        required: false
        type: boolean

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    timeout-minutes: 30

    defaults:
      run:
        shell: bash

    steps:
    - name: Setup Git Global Config
      uses: 9506hqwy/actions/common/setup-git-config@main

    - name: Checkout Source Code
      uses: actions/checkout@v6
      with:
        submodules: ${{ inputs.use-submodules }}

    - name: Setup
      id: setup
      uses: 9506hqwy/actions/go/setup-bash@main

    - name: Generate Artifact
      uses: 9506hqwy/actions/go/artifact-bash@main
      with:
        configuration: Release
        output-dir: artifacts

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: ${{ steps.setup.outputs.repository-name }}-${{ github.workflow }}-${{ steps.setup.outputs.go-target }}-${{ github.run_number }}
        path: ${{ github.workspace }}/artifacts/
        retention-days: 1
